span
{
    color: #0291D8;
}
.h2class
{
   color: #3B3B3B;
}
.parag
{
   text-align: center;
   color: #3B3B3B;
   margin-bottom: 5rem;
}
body {
    margin: 0;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}
 .grid-potes {
   display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 1px;
   
    
 }
   
 #road {
 
    
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 2;
    grid-column-end: 2;
    height: 20%;
    
 }
 #boum {
 
    
    grid-row-start: 1;
    grid-column-start: 2;
 
    grid-row-end: 2;
    grid-column-end: 3;
    height: 20%;
    
 }
 #bateau {
 
    grid-row-start: 1;
    grid-column-start: 3;
 
    grid-row-end: 2;
    grid-column-end: 4;
    height: 20%;
    
 }
 #text-road {
 
    grid-row-start: 2;
    grid-column-start: 1;
 
    grid-row-end: 3;
    grid-column-end: 2;
    height: 20%;
    color: #3B3B3B;
    
    
    
 }
 #text-boum {
 
    grid-row-start: 2;
    grid-column-start: 2;
 
    grid-row-end: 3;
    grid-column-end: 3;
    height: 20%;
    color: #3B3B3B;
    
 }
 #text-bateau {
  
    grid-row-start: 2;
    grid-column-start: 3;
 
    grid-row-end: 3;
    grid-column-end: 4;
    height: 20%;
    color: #3B3B3B;
    
 }
 .yecine_pic{
     height: 300px;
     width: 470px;
     border-radius: 10px;
     margin-right: 6px;
 }
 .h2class
 {
    text-align: center;
 }
 .bouton
 {
     display: block;
     float: right;
 }

   

  
