/*general */
.pclass

{
  color: #3B3B3B; 
  font-size: 18px;
}
.h4class{
   font-size: 20px;
   color: #3B3B3B; 
}
body {
    margin: 0;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}
span
{
    color: #0291D8;
}


/*MAIN-IMAGE*/


.pictures{

    height: 300px;
    border-radius: 10px;
    margin-right: 6px; ; 
}

.h2class{

    padding-top: 3rem;
    text-align: center;
    color: #3B3B3B;
}
    
.angry-grid {
   display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 1px;
   
   
}
  
#item-0 {
    padding-top: 5rem;
    text-align: center;
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 2;
   height: 20%;
   
}
#item-1 {

    padding-top: 5rem;
    text-align: center;
   grid-row-start: 1;
   grid-column-start: 2;
  
   grid-row-end: 2;
   grid-column-end: 3;
   height: 20%;
   
}
#item-2 {

    padding-top: 5rem;
    text-align: center;
   
   grid-row-start: 1;
   grid-column-start: 3;
  grid-row-end: 2;
   grid-column-end: 4;
   height: 20%;
   
}
#item-3 {

   
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
   height: 100%;
   text-align: center;
   
}
#item-4 {
 

  
   grid-row-start: 2;
   grid-column-start: 2;

   grid-row-end: 3;
   grid-column-end: 3;
   height: 100%;
   text-align: center;
}
#item-5 {


   grid-row-start: 2;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 4;
   height: 100%;
   text-align: center;
}
#item-6 {
    padding-top: 5rem;
    text-align: center;

    background: url(images/steps-icon-1.png) no-repeat top center;
   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 2;
   height: 100%;
}
#item-7 {
    padding-top: 5rem;
    text-align: center;

    background: url(images/steps-icon-2.png) no-repeat top center;
   grid-row-start: 3;
   grid-column-start: 2;

   grid-row-end: 4;
   grid-column-end: 3;
   height: 100%;
}
#item-8 {
    padding-top: 5rem;
    text-align: center;

    background: url(images/steps-icon-3.png) no-repeat top center;
   grid-row-start: 3;
   grid-column-start: 3;

   grid-row-end: 4;
   grid-column-end: 4;
   height: 100%;

}

@media screen and (max-width:800px)
{
.angry-grid {
   display: grid; 

   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr;
   
   gap: 0px;
   height: 100%;
}
  
#item-0 {
 
   grid-row-start: 1;
   grid-column-start: 1;
   grid-row-end: 2;
   grid-column-end: 2;
   height: 20%;
   
}
#item-3 {

  
    grid-row-start: 2;
    grid-column-start: 1;
 
    grid-row-end: 3;
    grid-column-end: 2;
    height: 20%;
    
 }
 #item-6 {

  
    grid-row-start: 3;
    grid-column-start: 1;
 
    grid-row-end: 4;
    grid-column-end: 2;
    
 }

#item-1 {

   grid-row-start: 4;
   grid-column-start: 1;
   grid-row-end: 5;
   grid-column-end: 2;
   
}
#item-4 {

  
    grid-row-start: 5;
    grid-column-start: 1;
 
    grid-row-end: 6;
    grid-column-end: 2;
    
 }
 #item-7 {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 2;
    height: 20%;
    
 }
#item-2 {

  
   grid-row-start: 7;
   grid-column-start: 1;

   grid-row-end: 8;
   grid-column-end: 2;
   height: 20%;
   
}


#item-5 {

   
   grid-row-start: 8;
   grid-column-start: 1;

   grid-row-end: 9;
   grid-column-end: 2;
   height: 20%;
}


#item-8 {
    grid-row-start: 9;
    grid-column-start: 1;
    grid-row-end: 10;
    grid-column-end: 2;
    height: 20%;
    
 }
}




